/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp GRAVE  &kp Q            &kp W            &kp E              &kp R                &kp T        &kp Y      &kp U                &kp I              &kp O            &kp P               &kp LEFT_BRACKET
&kp TAB    &hrm LEFT_GUI A  &hrm LEFT_ALT S  &hrm LEFT_SHIFT D  &hrm LEFT_CONTROL F  &kp G        &kp H      &hrm LEFT_CONTROL J  &hrm K LEFT_SHIFT  &hrm LEFT_ALT L  &hrm LEFT_GUI SEMI  &kp SQT
&kp BSLH   &kp Z            &kp X            &kp C              &kp V                &kp B        &kp N      &kp M                &kp COMMA          &kp DOT          &kp FSLH            &kp RIGHT_BRACKET
                            &kp ESC          &kp LEFT_SHIFT     &mo 2                &kp SPACE    &kp ENTER  &mo 1                &kp BACKSPACE      &kp LG(SPACE)
            >;
        };

        num {
            bindings = <
&kp GRAVE     &kp EXCL      &kp AT        &kp HASH        &kp LPAR          &kp RPAR    &kp MINUS     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9    &kp ASTERISK  &kp COLON
&kp TAB       &kp LEFT_WIN  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp AMPS    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp EQUAL     &kp KP_DOT
&kp KP_ENTER  &kp DLLR      &kp PRCNT     &kp CARET       &trans            &kp PIPE    &kp KP_PLUS   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6    &kp KP_SLASH  &kp COMMA
                            &kp CAPSLOCK  &kp UNDER       &mo 3             &trans      &mo 3         &trans        &kp UNDER     &kp KP_NUMLOCK
            >;
        };

        nav {
            bindings = <
&kp GRAVE       &kp LC(Q)     &kp LBRC         &kp RBRC        &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp PAGE_UP          &kp HOME             &kp UP               &kp END              &kp INSERT            &kp LC(F3)
&kp TAB         &kp LEFT_WIN  &kp LEFT_ALT     &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LC(G)            &kp PAGE_DOWN        &kp LEFT             &kp DOWN             &kp RIGHT            &kp LS(LA(LC(SEMI)))  &kp SQT
&kp LEFT_SHIFT  &kp LC(Z)     &kp LC(X)        &kp LC(C)       &kp LC(V)         &kp LC(B)            &kp LC(KP_NUMBER_4)  &kp LC(KP_NUMBER_6)  &kp LC(KP_NUMBER_7)  &kp LC(KP_NUMBER_9)  &kp SLASH             &kp LS(LC(F3))
                              &kp PRINTSCREEN  &kp BACKSPACE   &trans            &mo 1                &trans               &mo 4                &kp DELETE           &kp K_MENU
            >;
        };

        Fx {
            bindings = <
&none  &none         &none         &kp LS(F10)     &kp LS(F6)        &kp LA(F12)      &kp F12  &kp F7  &kp F8  &kp F9  &none  &kp LS(LA(LC(NUMBER_0)))
&to 0  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LS(LA(E))    &kp F10  &kp F1  &kp F2  &kp F3  &none  &none
&to 3  &to 3         &none         &kp LS(F9)      &none             &none            &kp F11  &kp F4  &kp F5  &kp F6  &none  &none
                     &none         &none           &trans            &none            &trans   &none   &none   &none
            >;
        };

        mouse {
            bindings = <
&kp LEFT_BRACE   &kp MINUS  &kp AMPERSAND          &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp PLUS        &trans  &trans      &trans     &trans        &trans         &trans
&kp COMMA        &kp DOT    &kp DOLLAR             &kp PERCENT   &kp CARET             &kp EQUAL       &trans  &kp RSHIFT  &kp RCTRL  &kp LEFT_ALT  &kp RIGHT_WIN  &trans
&kp RIGHT_BRACE  &kp SLASH  &kp EXCL               &kp AT_SIGN   &kp HASH              &kp ASTERISK    &trans  &trans      &trans     &trans        &trans         &trans
                            &kp RIGHT_PARENTHESIS  &kp GRAVE     &trans                &kp SPACE       &trans  &trans      &trans     &trans
            >;
        };
    };
};
